@model IletisimTalepViewModel

<h4 class="mt-0 mb-30 line-bottom">Bize Yazın</h4>
<form id="iletisim_form">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Ad Soyad <small>*</small></label>
                <input asp-for="@Model.AdSoyad" class="form-control required" type="text" placeholder="Ad Soyad Giriniz...">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>E-posta <small>*</small></label>
                <input asp-for="@Model.Eposta" class="form-control required email" type="email" placeholder="E-posta Adresinizi Giriniz...">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Konu <small>*</small></label>
                <input asp-for="@Model.Konu" class="form-control required" type="text" placeholder="Konu Giriniz...">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Telefon</label>
                <input asp-for="@Model.Telefon" class="form-control digits" type="text" placeholder="Telefon Numaranızı Giriniz...">
            </div>
        </div>
    </div>

    <div class="form-group">
        <input name="form_botcheck" class="form-control" type="hidden" value="" />
    </div>

    <div class="form-group">
        <label>Mesaj <small>*</small></label>
        <textarea asp-for="@Model.Mesaj" class="form-control required" rows="5" placeholder="Mesajınızı Yazınız..."></textarea>
    </div>
    <div class="form-group">        
        <button type="submit" class="btn btn-flat btn-theme-colored text-uppercase mt-10 mb-sm-30 border-left-theme-color-2-4px" data-loading-text="Lütfen Bekleyin...">MESAJINIZI GÖNDERİN</button>
    </div>
</form>

<script type="text/javascript">
    $("#iletisim_form").validate({
        submitHandler: function (form) {

            var form_btn = $(form).find('button[type="submit"]');
            var form_result_div = '#form-result';
            $(form_result_div).remove();
            form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
            form_btn.html(form_btn.prop('disabled', true).data("loading-text"));

            $.ajax({
                dataType: 'json',
                url: '/Iletisim/IletisimTalepGonder',
                type: 'post',
                data: $(form).serialize(),
                success: function (data) {
                    var result = '';
                    var epostaResult = data.eposta;
                    var mesajResult = data.mesaj;

                    if (epostaResult == true && mesajResult == true) {
                        result = 'Mesajınız gönderildi.';
                    }
                    else if (mesajResult == true) {
                        result = 'Mesajınız ulaştırıldı.';
                    }
                    else {
                        result = 'Mesajınız gönderilemedi.';
                    }

                    form_btn.prop('disabled', false).html('MESAJINIZI GÖNDERİN');

                    if (result != 'Mesajınız gönderilemedi.') {
                        $('#AdSoyad').val('');
                        $('#Eposta').val('');
                        $('#Konu').val('');
                        $('#Telefon').val('');
                        $('#Mesaj').val('');
                    }

                    $(form_result_div).html(result).fadeIn('slow');
                    setTimeout(function () { $(form_result_div).fadeOut('slow') }, 6000);
                }
            });
        }
    });
</script>